@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.App {
  text-align: center;
}
.ff-brand{
  font-family: 'Poppins', sans-serif;
}
.mern{
  background: #118B4B;
background: linear-gradient(to right, #118B4B 9%, #E7D41C 35%, #00D1F2 78%, #519A41 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.brand{
  color: #ff014f;
}
.brands{
  background-color: #ff014f;
}
.window{
  min-height: 80vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
